.img-deco {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.section_primera {
  align-items: center;
}

.section_segunda {
  align-items: center;

  .img-2 {
    border-radius: $d1-2;
    max-width: 790px;
    width: 100%;
    height: 411px;
    object-fit: cover;
    margin-bottom: $x1-2;
  }

  .tabbed-content {
    align-items: center;
  }
}

@media (max-width: $breakpoint-tablet) {
  .section_primera {
    flex-direction: column;
    text-align: center;
  }

  .img-deco {
    display: none;
  }

  .section_segunda {

    .img-2 {
      margin-bottom: $d1-2;
      max-height: 156.076px;
    }

    .tab-collapses {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      align-self: stretch;
    }

    .tabbed-content {
      flex-direction: column-reverse;
    }
  }
}