$black: #120F18;
$primaryDark: #27415C;
$primary: #5C9DDC;
$secondary: #46D6DD;
$light: #DDFFFF;
$white: #FFFFFF;

.black {
  color: $black;
}

.primaryDark {
  color: $primaryDark;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.light {
  color: $light;
}

.white {
  color: $white;
}