@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-family: 'Montserrat',
	sans-serif;

$regular: 400;
$bold: 700;

body {
	font-family: $font-family;
	padding: 0;
	margin: 0;
	color: $black;
}

.bold {
	font-weight: $bold;
}

$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 18px;
$h5: 16px;
$p: 16px;
$s1: 14px;

h1,
.h1 {
	font-size: $h1;
	line-height: normal;
	font-weight: $bold;
	margin-top: 0;
	margin-bottom: $x1-2;
}

h2,
.h2 {
	font-size: $h2;
	line-height: normal;
	font-weight: $bold;
}

h3,
.h3 {
	font-size: $h3;
	line-height: normal;
	font-weight: $bold;
}

h4,
.h4 {
	font-size: $h4;
	line-height: 24px;
	font-weight: $bold;
}

h5,
.h5 {
	font-size: $h5;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

p,
.p {
	font-size: $p;
	line-height: 26px;
	font-weight: $regular;
	margin-top: 0;
	margin-bottom: 0;
}

.s1 {
	font-size: $p;
	line-height: 18px;
	font-weight: $regular;
}