// Buttons

.button {
  cursor: pointer;
  transition: ease 0.3s;
  display: inline-block;
  text-align: center;
  padding: $d1-2 $x1-2;
  border-radius: $d1-2;
  background-color: $secondary;
  color: $white;
  font-size: 18px;
  font-weight: $bold;
  text-decoration: none;

  &:hover {
    background-color: $primaryDark;
    text-decoration: none;
    color: $white;
  }
}