.footer {
  background-color: $light;
  align-items: flex-start;

  &__nav {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-gap: $d1-2;
    flex: 1 0 0;

    h5 {
      color: $primaryDark;
    }

    span {
      color: $primary;
      text-transform: uppercase;
      margin-bottom: $d2;
      display: block;
    }

    ul {
      padding-left: 0;
      margin: 0;

      li {
        color: $primaryDark;
        list-style: none;
        margin-bottom: $d2;
        line-height: 18px;

        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }

  &__nav-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: $x1;
  }

  &__nav-sub {
    grid-column-gap: $d1-2;
  }
}

@media (max-width: $breakpoint-tablet) {

  .container-footer {
    flex-direction: column;
  }

  .footer__logo {
    width: 100%;
    text-align: center;
  }
}