//Sidebar header

html {
  scroll-behavior: smooth;
}

.fixed-header {
  background: #fff;
  position: fixed;
  top: -500px;
  width: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.in-view {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  top: 0px;
  left: 0px;
}

.sidebar {
  display: flex;
  grid-column-gap: 80px;

  .backBtn {
    cursor: pointer;
    display: none;
  }
}

.main-nav {
  .main-nav__list {
    list-style: none;
    display: flex;
    padding-left: 0px;

    .main-nav__link {
      text-decoration: none;
      color: $primaryDark;
      font-weight: $bold;
      padding-right: $x1-2;

      &:hover {
        .main-nav__span {
          color: $primary;
        }
      }
    }

    .active {
      color: $primary;
    }
  }
}


//Menú superior

.nav-top {
  display: none;
  justify-content: space-between;
  align-items: center;

  .nav-top__box {
    display: flex;
    align-items: center;

    .nav-top__toggle {
      display: none;
      cursor: pointer;
    }
  }
}


//Medias

@media (max-width: $breakpoint-tablet) {

  .content-wrapper {
    width: 100%;
  }

  .sidebar {
    background-color: #fff;
    display: block;
    position: fixed;
    width: 85%;
    height: 100%;
    max-width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 0.650s ease;
    text-align: left;
    left: 0px;
    z-index: 99999999;
    padding: $d1-2;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .backBtn {
        display: block;
      }
    }

    &.open {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }

  .main-nav {
    &__list {
      flex-direction: column;
    }
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .nav-top {
    display: flex;

    .nav-top__box {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .nav-top__toggle {
        display: block;
        cursor: pointer;
      }
    }
  }

  .overlay-menu {
    position: fixed;
    background: #000 none repeat scroll 0% 0%;
    opacity: 0.4;
    display: none;
    top: 0;
    z-index: 888;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 150ms ease;

    &.open {
      display: block;
    }

    &.block-scroll {
      overflow: hidden;
    }
  }
}