.pretitulo {
  display: inline-block;
  text-transform: uppercase;
  color: $primary;
  padding: $d1-2;
  padding-top: $d2;
  padding-bottom: $d2;
  border: 2px solid $primary;
  border-radius: 100px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}