$background__active: $light;
$width__tabs-side: 150px;
$breakpoint: 991px;

@mixin tab-active() {
  background: $background__active;
}

.tabs {
  ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    li {

      a {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
        padding: $d1-2;
        border-radius: $d2;
        color: $primaryDark;

        &:hover,
        &.active {
          @include tab-active();
        }
      }
    }
  }
}

.item {
  border-radius: 8px;
  border: 1px solid $primary;

  &::before {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    padding: $d1-2;
    border-radius: $d2 $d2 0 0;
    color: $primaryDark;
  }

  &.active {
    &::before {
      @include tab-active();
    }

    .item-content {
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      padding: $d1-2;
    }

    .chevron {
      transform: rotate(90deg);
      transition: all .3s ease-in;
    }
  }
}

@media all and (min-width: $breakpoint ) {
  .item {
    border-radius: 0px;
    border: 0px solid $primary;
  }
}


.tabbed-content {

  .tabs {
    display: none;
  }

  .item {
    position: relative;

    &::before {
      content: attr(data-title);
    }

    .item-content {
      opacity: 0;
      visibility: hidden;
      height: 0;
      text-align: center;
    }

    &.active {
      .item-content {
        opacity: 1;
        visibility: visible;
        height: auto;
      }
    }
  }
}

@media all and (min-width: $breakpoint) {
  .tabbed-content {
    .chevron {
      display: none;
    }

    .tabs {
      display: block;

      li {
        display: inline-block;

        a {
          display: block;
        }
      }
    }

    .item {
      min-height: 0;
      display: none;

      &.active {
        display: block;
      }

      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {

  .chevron {
    position: absolute;
    top: $d1-2;
    right: $d1-2;
  }
}