//Grid

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$max-width-grid: 1440px;
$padding-lateral: 32px;
$padding-horizontal: 64px;
$padding-horizontal-mv: 32px;
$gutter: 80px;
$gutter-mv: 4px;

.wrapper {
  width: 100%;
}

.flex {
  display: flex;
}

.container-fluid {
  width: 100%;
  padding: $padding-horizontal $padding-lateral;
}

.container {
  max-width: $max-width-grid;
  @extend .container-fluid;
  grid-column-gap: 80px;
  margin-right: auto;
  margin-left: auto;
}

.container-nav {
  max-width: $max-width-grid;
  padding: 16px $padding-lateral;
  margin-right: auto;
  margin-left: auto;
}

.container-nav-mv {
  max-width: $max-width-grid;
  grid-column-gap: 80px;
}

.container-footer {
  max-width: $max-width-grid;
  grid-column-gap: 80px;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
}

.img {
  max-width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}



@media (max-width: $breakpoint-tablet) {

  .container-fluid {
    padding: $padding-horizontal-mv $padding-lateral;
  }
}