//Spaces

$d2: 8px;
$d1-2: 16px;
$x1: 24px;
$x1-2: 32px;
$x2: 64px;


.mt-d1-2 {
  margin-top: $d1-2;
}

.mb-d1-2 {
  margin-bottom: $d1-2;
}

.mb-x1-2 {
  margin-bottom: $x1-2;
}

.mb-x2 {
  margin-bottom: $x2;
}

@media (max-width: $breakpoint-tablet) {

  .mb-d1-2-xs {
    margin-bottom: $d1-2;
  }

  .mb-x1-2-xs {
    margin-bottom: $x1-2;
  }

  .mb-x2-xs {
    margin-bottom: $x2;
  }
}